.vscode/**
.vscode-test/**
node_modules/**
!node_modules/@vscode/codicons/dist/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.github
version.json
sample
docs
src/test
out/test